.Red {
    border: 1px solid red;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: gray;
    outline: 0;
    box-shadow: 0 0 0 0rem gray;
}
.Registration{
    text-align: center;
    margin: 10vh auto auto auto;
}