.App {
  text-align: center;
  margin-top: 300px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.doneClass{
  text-decoration: line-through;
}
.list-group-item {
  border-color: black;
}

.input-group-append {
  margin: 0;
  padding: 0;
}

.classUlLi {
  max-height: 200px;
  overflow: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Red {
  border: 1px solid red;
}